# dependencies
node_modules/

# build outputs
dist/
build/

# caches & runtime files
.parcel-cache/
.frontend.pid

# logs
*.log

# git & editor files
.git/
.gitignore
.vscode/
.idea/

# env files
.env
.env.*
